<head>
    <style> 
    div.container {
      width: 100%;
      border: 1 px solid rgb(22, 143, 190);
    }
    
    div.box {
      box-sizing: border-box;
      width: 25%;
      padding-top: 30px;
      float: left;
    }
    </style>
    </head>
    <div class="row mt-5">
    
        <h3 class="text-center mb-3" style="border-color: cornflowerblue; height: 50px; width: 5%; color: darkblue; text-align: left; padding-left: 20px;">
       Post  
        </h3>
        <form action="/users/postchatter" method="post">
     </div>
     <div class="form-group">
                <label for="name"> Name</label>
                <input type="text" name="name" style="width: 200px; border-color: rgb(35, 173, 228);" class="form-control"  placeholder="Enter Your Name"  />
     </div>
     <div class="form-group">
              <textarea name="content " type="textarea" style="width: 400px; padding-top: 10px; margin-top: 20px; border-color: rgb(35, 173, 228); height: 150px; " placeholder=" Share an Update" ></textarea>
     </div>
                  
     <button type="submit" class="btn btn-info" style="width: 150px; ">Share</button>     
        </form>

        
 